{#<html>#}
{#  <head>#}
{#    <title>ATM</title>#}
{#  </head>#}
{##}
{#  <body>#}
{#    <h2 align="center"> Video Streaming </h2>#}
{#    <img id="bg" class="center" src="{{ url_for('video_feed') }}">#}
{#    <script src="{{ url_for('detect_phone') }}"></script>#}
{##}
{#<script>#}
{#function myFunction() {#}
{#  alert(location.hostname);#}
{#}#}
{#</script>#}
{##}
{#  </body>#}
{##}
{#</html>#}
{##}

<html>
<head>
    <title>ATM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>
</head>

<body>
<h2 align="center"> Video Streaming </h2>
{#<img id="bg" class="center" src="{{ url_for('video_feed') }}">#}
<img id="bg" class="center" src="{{ url_for('warning_feed', file_name='warning.jpeg') }}">



{# try 1: #}
{#    <script src="{{ url_for('detect_phone') }}"></script>#}
{#    <p>Click on the "x" symbol to close the alert message.</p>#}
{#<div class="alert">#}
{#  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>#}
{#  <strong>Danger!</strong> Indicates a dangerous or potentially negative action.#}
{#</div>#}

{# try 2: #}
{#<div id="container"></div>#}
{#<script>#}
{#    var container = document.getElementById('container');#}
{#    if ({{ phone }} == True) {#}
{#        alert("What the Phone");#}
{#        container.innerHTML = '<p>Click on the "x" symbol to close the alert message.</p>';#}
{#        container.innerHTML = '<div class="alert">';#}
{#        container.innerHTML = '<span class="closebtn" onclick="this.parentElement.style.display=\'none\';">&times;</span>';#}
{#        container.innerHTML = '<strong>Danger!</strong> Indicates a dangerous or potentially negative action.';#}
{#        container.innerHTML = '</div>';#}
        {#<div class="alert">#}
        {#<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>#}
        {#This is an alert box.#}
        {#</div>#}
{#    }#}
{#</script>#}

{# try 3: #}
{% if  phone %}
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
</div>
{% endif %}

</body>

</html>

